.header {
  grid-area: header;
  background: linear-gradient(to left, #483d8b, #1e469a);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgray;
  color: white;
  font-size: 40px;
}
.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-left: 20px;
}
